<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ActiveWindowTitleLogger_TimeInteval_Seconds" value="10" />
		<add key="ActiveWindowTitleLogger_LogFolder" value="c:\kit\_dox\timetracking\" />
		<add key="WellnessCheckin_TimeInterval_Minutes" value="30" />
	</appSettings>
</configuration>